source/html/index.pug
extends base.pug
block content
	section(class="welcome-slider-block")
		div(class="container-fluid")
			div(class="row flex-lg-nowrap")
				div(class="col-12 col-lg-6 pr-lg-0 order-2 oreder-lg-1 d-flex justify-content-end")
					div(class="welcome-slider-left")
						h1(class="mb-27 h3")
							| Заседание Комиссии <br>по вопросам миграции 
						p(class="mb-25")
							| Провела мастер-класс Ильина Туяна – журналист, художник, поэт. Туяна работала в пресс-службах Института экономики переходного период им. Е. Гайдара и Федерального агентства по культуре и кинематографии. 
						a(class="btn" href="#")
							| Подробнее
				div(class="col-12 col-lg-7 pl-lg-0 order-1 order-lg-2 pb-4 pb-lg-0")
					div(class="welcome-slider")
						div(class="welcome-slide-bg" style="background-image: url('images/sl.png');")
						div(class="welcome-slide-bg" style="background-image: url('images/sl.png');")
	section(class="pt-97 pb-110")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-35")
					h2(class="title-page mb-4 mb-lg-0")
						| Анонсы мероприятий
					a(class="btn btn_secondary" href="#")
						| Все мероприятия
				div(class="col-12 col-lg-8")
					div(class="row")
						- for (var i = 0; i < 2; i++)
							div(class="col-12 col-lg-6 pb-36")
								div(class="event-block")
									img(class="lazyload" data-src="images/event.jpg" alt="img")
									div(class="event-content")
										div(class="d-flex align-items-center justify-content-between pb-19")
											span(class="event-date")
												| 09 сентября 2020, 11:00
											div(class="event-stream")
												span(class="event-stream-icon")
												span
													| Онлайн
										a(class="event-title mb-22" href="#")
											| Цикл прямых эфиров «Интервью с профессионалом»
										p(class="event-description mb-30")
											| ООО «Ассамблея народов России». Научно-практическая конференция «Роль домов дружбы в развитии этнокультурного диалога ...
										a(class="btn" href="#")
											| Подробнее
				div(class="col-12 col-lg-4 pb-36")
					form(class="h1-100")
						div(id="datepicker")
						input(type="hidden" id="datepicker_value" value="07.10.2020")
	section(class="pb-105")
		div(class="container")
			div(class="row align-items-lg-center")
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					img(class="lazyload w-100" data-src="images/aboutimg.png" alt="img")
				div(class="col-12 col-lg-6")
					h2(class="mb-25")
						| О нас
					p(class="font-14")
						| В 1998 году Правительством Москвы было принято решение об открытии Государственного учреждения «Дом народов Росии». 
					p(class="font-14")
						| Он был создан при Комитете межрегиональных связей и национальной политики города Москвы как центр этнокультурного развития москвичей различных национальностей, создающий условия для удовлетворения национально-культурных и национально-образовательных запросов, полноправного общественного и культурного развития всех народов.
					a(class="btn" href="#")
						| Подробнее
	section(class="pt-60 pb-87 bg-gray")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-28")
					h2(class="title-page  mb-4 mb-lg-0")
						| Галерея Дома народов
					a(class="btn btn_secondary" href="#")
						| Читать все новости
			div(class="row")
				- for (var i = 0; i < 3; i++)
					div(class="col-12 col-md-6 col-lg-4 pb-36")
						div(class="news-item")
							a(class="news-item-preview" href="#")
								img(class="lazyload" data-src="images/image 8.png" alt="img")
							span(class="news-item-date")
								| 8 сентября
							a(href="#" class="news-item-title")
								| Мишустин выступил на открытии Московского финансового форума
	section()
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="partners-slider")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part1.svg" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
	include components/message-no-border.pug

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Дом народов России</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between justify-content-lg-start"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.svg" alt="logo"></a>
                <p class="header-description d-none d-lg-block">Официальный сайт федерального государственного<br>бюджетного учреждения «Дом народов России»</p>
                <button class="btn__menu d-lg-none">
                  <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                    <path class="line middle" d="m 30,50 h 40"></path>
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                  </svg>
                </button>
              </div>
              <div class="col-6 d-none d-lg-flex align-items-center justify-content-end">
                <div class="header-view-btn"><span>Дома народов России</span><span class="text-rare">Информационный портал</span></div>
                <div class="social"><a class="social__link icon-youtube" href="#"></a><a class="social__link icon-facebook" href="#"></a><a class="social__link icon-instagram" href="#"></a><a class="social__link icon-vk social__link_18" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom d-none d-lg-block">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="navigation-link-wrapper"><a class="navigation-link active" href="#">О НАС</a>
                  <div class="navigation-link-hid">
                    <div class="row">
                      <div class="col-6 d-flex flex-column align-items-start"><a class="active" href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                      </div>
                      <div class="col-6 d-flex flex-column align-items-start"><a href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">СОБЫТИЯ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">ГАЛЕРЕЯ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">ДОКУМЕНТЫ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link mr-0" href="#">КОНТАКТЫ</a></div><a class="header-search" href="#"><i class="icon-search"></i></a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu">
        <div class="mobile-menu-content">
          <div>
            <div class="mobile-menu__close"></div><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a>
          </div>
          <div class="pt-20 d-flex flex-column">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between"><a href="#"> О НАС</a><a class="btn-drop-menu collapsed m-0" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu"><i class="icon-arrow"></i></a></div>
              <div class="collapse" id="collapseMenu">
                <div class="d-flex flex-column pb-10"><a class="active" href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a><a href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                </div>
              </div>
            </div><a href="#">СОБЫТИЯ</a><a href="#">О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ</a><a href="#">ГАЛЕРЕЯ</a><a href="#">ДОКУМЕНТЫ</a><a href="#">КОНТАКТЫ</a>
          </div>
        </div>
      </div>
      <div class="content">
        <section class="welcome-slider-block">
          <div class="container-fluid">
            <div class="row flex-lg-nowrap">
              <div class="col-12 col-lg-6 pr-lg-0 order-2 oreder-lg-1 d-flex justify-content-end">
                <div class="welcome-slider-left">
                  <h1 class="mb-27 h3">Заседание Комиссии <br>по вопросам миграции </h1>
                  <p class="mb-25">Провела мастер-класс Ильина Туяна – журналист, художник, поэт. Туяна работала в пресс-службах Института экономики переходного период им. Е. Гайдара и Федерального агентства по культуре и кинематографии. </p><a class="btn" href="#">Подробнее</a>
                </div>
              </div>
              <div class="col-12 col-lg-7 pl-lg-0 order-1 order-lg-2 pb-4 pb-lg-0">
                <div class="welcome-slider">
                  <div class="welcome-slide-bg" style="background-image: url('images/sl.png');"></div>
                  <div class="welcome-slide-bg" style="background-image: url('images/sl.png');"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-97 pb-110">
          <div class="container">
            <div class="row">
              <div class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-35">
                <h2 class="title-page mb-4 mb-lg-0">Анонсы мероприятий</h2><a class="btn btn_secondary" href="#">Все мероприятия</a>
              </div>
              <div class="col-12 col-lg-8">
                <div class="row">
                  <div class="col-12 col-lg-6 pb-36">
                    <div class="event-block"><img class="lazyload" data-src="images/event.jpg" alt="img">
                      <div class="event-content">
                        <div class="d-flex align-items-center justify-content-between pb-19"><span class="event-date">09 сентября 2020, 11:00</span>
                          <div class="event-stream"><span class="event-stream-icon"></span><span>Онлайн</span></div>
                        </div><a class="event-title mb-22" href="#">Цикл прямых эфиров «Интервью с профессионалом»</a>
                        <p class="event-description mb-30">ООО «Ассамблея народов России». Научно-практическая конференция «Роль домов дружбы в развитии этнокультурного диалога ...</p><a class="btn" href="#">Подробнее</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 pb-36">
                    <div class="event-block"><img class="lazyload" data-src="images/event.jpg" alt="img">
                      <div class="event-content">
                        <div class="d-flex align-items-center justify-content-between pb-19"><span class="event-date">09 сентября 2020, 11:00</span>
                          <div class="event-stream"><span class="event-stream-icon"></span><span>Онлайн</span></div>
                        </div><a class="event-title mb-22" href="#">Цикл прямых эфиров «Интервью с профессионалом»</a>
                        <p class="event-description mb-30">ООО «Ассамблея народов России». Научно-практическая конференция «Роль домов дружбы в развитии этнокультурного диалога ...</p><a class="btn" href="#">Подробнее</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 pb-36">
                <form class="h1-100">
                  <div id="datepicker"></div>
                  <input type="hidden" id="datepicker_value" value="07.10.2020">
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="pb-105">
          <div class="container">
            <div class="row align-items-lg-center">
              <div class="col-12 col-lg-6 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/aboutimg.png" alt="img"></div>
              <div class="col-12 col-lg-6">
                <h2 class="mb-25">О нас</h2>
                <p class="font-14">В 1998 году Правительством Москвы было принято решение об открытии Государственного учреждения «Дом народов Росии». </p>
                <p class="font-14">Он был создан при Комитете межрегиональных связей и национальной политики города Москвы как центр этнокультурного развития москвичей различных национальностей, создающий условия для удовлетворения национально-культурных и национально-образовательных запросов, полноправного общественного и культурного развития всех народов.</p><a class="btn" href="#">Подробнее</a>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-60 pb-87 bg-gray">
          <div class="container">
            <div class="row">
              <div class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-28">
                <h2 class="title-page  mb-4 mb-lg-0">Галерея Дома народов</h2><a class="btn btn_secondary" href="#">Читать все новости</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 pb-36">
                <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 pb-36">
                <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 pb-36">
                <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="partners-slider">
                  <div class="partners-slider__item">
                    <div class="d-flex align-items-center justify-content-center"><img src="images/part1.svg" alt="img"></div>
                  </div>
                  <div class="partners-slider__item">
                    <div class="d-flex align-items-center justify-content-center"><img src="images/part2.png" alt="img"></div>
                  </div>
                  <div class="partners-slider__item">
                    <div class="d-flex align-items-center justify-content-center"><img src="images/part2.png" alt="img"></div>
                  </div>
                  <div class="partners-slider__item">
                    <div class="d-flex align-items-center justify-content-center"><img src="images/part2.png" alt="img"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-94 pb-94">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="mb-26">Свяжитесь с нами</h2>
              </div>
              <div class="col-12">
                <form class="form">
                  <div class="row mb-24">
                    <div class="col-12 col-lg-4 pb-4 pb-lg-0"><div class="form-group mb-24">
<label for="inputEmail4">ФИО *</label>
                      <input class="form-control w-100" type="text" placeholder="Введите ваше ФИО"></div>
<div class="form-group mb-24">
<label for="inputEmail4">Телефон*</label>
                      <input class="form-control w-100" type="text" placeholder="+495 ХХХ ХХ ХХ ХХ"></div>
<div class="form-group m-0">
<label for="inputEmail4">Email *</label>
                      <input class="form-control w-100" type="email" placeholder="example@example.ru"></div>
                    </div>
                    <div class="col-12 col-lg-8 pb-4 pb-lg-0"><div class="form-group m-0">
<label for="inputEmail4">Сообщение</label>
                      <textarea class="form-control w-100" placeholder="Текст сообщения"></textarea></div>
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-4 pb-4 pb-lg-0"><div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="formCheck" checked>
<label class="form-check-label" for="formCheck">Согласие на <a href="#">пользовательское соглашение</a></label>
</div>
                    </div>
                    <div class="col-12 col-lg-8 d-flex justify-content-end">
                      <button class="btn btn_zise-l" type="submit">Отправить заявку</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-50"><span class="footer-title">Контактная информация</span>
                  <div class="d-flex flex-column pb-20"><span class="footer-sub-title">Адрес:</span><span class="footer-description footer-description_14 footer-description_w-50">129090, Москва, ул. Щепкина, д. 22</span></div>
                  <div class="d-flex flex-column pb-20"><span class="footer-sub-title">Телефон:</span><a class="footer-description footer-description_14 footer-description_w-50" href="tel:88004353465">8 800 435 34 65</a></div>
                  <div class="d-flex flex-column"><span class="footer-sub-title">E-mail:</span><a class="footer-description footer-description_14 footer-description_w-50" href="mailto:info@domnarodov.ru">info@domnarodov.ru</a></div>
                </div>
                <div class="social"><a class="social__link social__link_footer icon-facebook" href="#"></a><a class="social__link social__link_footer icon-instagram" href="#"></a><a class="social__link social__link_footer icon-vk social__link_18" href="#"></a></div>
              </div>
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-24"><span class="footer-title">О нас</span>
                  <ul class="footer-nav">
                    <li><a href="#">ФГБУ «Дом народов России»</a></li>
                    <li><a href="#">Учредитель</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Структура</a></li>
                    <li><a href="#">Цели и задачи</a></li>
                    <li><a href="#">Отчеты о результатах деятельности</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Новости партнеров</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">Галерея</span>
                  <ul class="footer-nav">
                    <li><a href="#">Фото</a></li>
                    <li><a href="#">Видео</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-24"><span class="footer-title">О национальной политике</span>
                  <ul class="footer-nav">
                    <li><a href="#">Нормативно-правовые документы</a></li>
                    <li><a href="#">Организации</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">События</span>
                  <ul class="footer-nav">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Анонсы</a></li>
                    <li><a href="#">Календарь мероприятий</a></li>
                    <li><a href="#">СМИ о нас</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="pb-24"><span class="footer-title">Документы</span>
                  <ul class="footer-nav">
                    <li><a href="#">Устав</a></li>
                    <li><a href="#">Государственное задание</a></li>
                    <li><a href="#">Приказы</a></li>
                    <li><a href="#">Положения</a></li>
                    <li><a href="#">Планы</a></li>
                    <li><a href="#">Нормативно-правовые акты</a></li>
                    <li><a href="#">Соглашения</a></li>
                    <li><a href="#">Противодействие коррупции</a></li>
                    <li><a href="#">Отчеты</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">Контакты</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 d-flex align-items-center pb-4 pb-lg-0"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo-footer.svg" alt="logo"></a><span class="copyright">© 2020 ФГБУ «Дом народов России»</span></div>
              <div class="col-12 col-lg-6 d-flex flex-column align-items-center flex-lg-row justify-content-lg-end"><a class="footer-link mr-lg-4 mb-2 mb-lg-0" href="#">Политика конфиденциальности</a><a class="footer-link" href="#">Пользовательское соглашение</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
