source/html/news.pug
extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Новости</li>
							</ol>
						</nav>
	section(class="pt-82 pb-105 bg-gray")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="title-page mb-35")
						| Новости
				div(class="col-12")
					div(class="row")
						- for (var i = 0; i < 10; i++)
							div(class="col-12 col-md-6 col-lg-4 pb-36")
								div(class="news-item")
									a(class="news-item-preview" href="#")
										img(class="lazyload" data-src="images/image 8.png" alt="img")
									span(class="news-item-date")
										| 8 сентября
									a(href="#" class="news-item-title")
										| Мишустин выступил на открытии Московского финансового форума
					div(class="col-12 d-flex justify-content-center")
						<nav aria-label="...">
							<ul class="pagination pagination-lg">
								<li class="page-item page-item_prev disabled">
									<span class="page-link d-flex align-items-center">
										<i class="icon-arrow icon-arrow_left"></i>
										<span class="ml-12 d-none d-lg-block">Предыдущая</span>
									</span>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item active"><span class="page-link">2</span></li>
								<li class="page-item disabled"><span class="page-link">...</span></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-item_next">
									<a class="page-link" href="#">
										<span class="mr-12 d-none d-lg-block">Следующая</span>
										<i class="icon-arrow"></i>
									</a>
								</li>
							</ul>
						</nav>

release/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Дом народов России</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 d-flex align-items-center justify-content-between justify-content-lg-start"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.svg" alt="logo"></a>
                <p class="header-description d-none d-lg-block">Официальный сайт федерального государственного<br>бюджетного учреждения «Дом народов России»</p>
                <button class="btn__menu d-lg-none">
                  <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                    <path class="line middle" d="m 30,50 h 40"></path>
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                  </svg>
                </button>
              </div>
              <div class="col-6 d-none d-lg-flex align-items-center justify-content-end">
                <div class="header-view-btn"><span>Дома народов России</span><span class="text-rare">Информационный портал</span></div>
                <div class="social"><a class="social__link icon-youtube" href="#"></a><a class="social__link icon-facebook" href="#"></a><a class="social__link icon-instagram" href="#"></a><a class="social__link icon-vk social__link_18" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom d-none d-lg-block">
          <div class="container">
            <div class="row">
              <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="navigation-link-wrapper"><a class="navigation-link active" href="#">О НАС</a>
                  <div class="navigation-link-hid">
                    <div class="row">
                      <div class="col-6 d-flex flex-column align-items-start"><a class="active" href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                      </div>
                      <div class="col-6 d-flex flex-column align-items-start"><a href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">СОБЫТИЯ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">ГАЛЕРЕЯ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link" href="#">ДОКУМЕНТЫ</a></div>
                <div class="navigation-link-wrapper"><a class="navigation-link mr-0" href="#">КОНТАКТЫ</a></div><a class="header-search" href="#"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 16.415L14.264 12.679C15.3043 11.3133 15.8618 9.64077 15.849 7.92397C15.8553 6.8816 15.6547 5.84833 15.2588 4.88406C14.8628 3.9198 14.2794 3.04373 13.5423 2.30665C12.8052 1.56957 11.9291 0.986131 10.9649 0.590169C10.0006 0.194208 8.96735 -0.00640202 7.92497 -2.97098e-05C6.88243 -0.00653625 5.84897 0.194008 4.88452 0.589972C3.92008 0.985936 3.04385 1.56944 2.30664 2.30664C1.56944 3.04385 0.985936 3.92008 0.589972 4.88452C0.194008 5.84897 -0.00653625 6.88243 -2.97098e-05 7.92497C-0.00653625 8.96751 0.194008 10.001 0.589972 10.9654C0.985936 11.9299 1.56944 12.8061 2.30664 13.5433C3.04385 14.2805 3.92008 14.864 4.88452 15.26C5.84897 15.6559 6.88243 15.8565 7.92497 15.85C9.64177 15.8628 11.3143 15.3053 12.68 14.265L16.415 18L18 16.415ZM2.26397 7.92497C2.25662 7.17965 2.398 6.44034 2.67984 5.75032C2.96168 5.06029 3.37831 4.43341 3.90536 3.90636C4.43241 3.37931 5.05929 2.96268 5.74932 2.68084C6.43934 2.399 7.17864 2.25762 7.92397 2.26497C8.6693 2.25762 9.4086 2.399 10.0986 2.68084C10.7886 2.96268 11.4155 3.37931 11.9426 3.90636C12.4696 4.43341 12.8863 5.06029 13.1681 5.75032C13.4499 6.44034 13.5913 7.17965 13.584 7.92497C13.5913 8.6703 13.4499 9.4096 13.1681 10.0996C12.8863 10.7896 12.4696 11.4165 11.9426 11.9436C11.4155 12.4706 10.7886 12.8873 10.0986 13.1691C9.4086 13.4509 8.6693 13.5923 7.92397 13.585C7.17864 13.5923 6.43934 13.4509 5.74932 13.1691C5.05929 12.8873 4.43241 12.4706 3.90536 11.9436C3.37831 11.4165 2.96168 10.7896 2.67984 10.0996C2.398 9.4096 2.25662 8.6703 2.26397 7.92497V7.92497Z" fill="#A7A7AB"/>
</svg></a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="mobile-menu">
        <div class="mobile-menu-content">
          <div>
            <div class="mobile-menu__close"></div><a class="logo" href="#"><img class="lazyload" data-src="images/logo.svg" alt="img"></a>
          </div>
          <div class="pt-20 d-flex flex-column">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between"><a href="#"> О НАС</a><a class="btn-drop-menu collapsed m-0" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu"><i class="icon-arrow"></i></a></div>
              <div class="collapse" id="collapseMenu">
                <div class="d-flex flex-column pb-10"><a class="active" href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a><a href="#">ФГБУ «Дом народов России»</a><a href="#">Учредитель</a><a href="#">Руководство</a><a href="#">Структура</a>
                </div>
              </div>
            </div><a href="#">СОБЫТИЯ</a><a href="#">О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ</a><a href="#">ГАЛЕРЕЯ</a><a href="#">ДОКУМЕНТЫ</a><a href="#">КОНТАКТЫ</a>
          </div>
        </div>
      </div>
      <div class="content">
        <section class="position-relative">
          <div class="breadcrumb-block">
            <div class="container">
              <div class="row">
                <div class="col-12"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Новости</li>
</ol>
</nav>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-82 pb-105 bg-gray">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="title-page mb-35">Новости</h1>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 pb-36">
                    <div class="news-item"><a class="news-item-preview" href="#"><img class="lazyload" data-src="images/image 8.png" alt="img"></a><span class="news-item-date">8 сентября</span><a class="news-item-title" href="#">Мишустин выступил на открытии Московского финансового форума</a></div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center"><nav aria-label="...">
<ul class="pagination pagination-lg">
<li class="page-item page-item_prev disabled">
<span class="page-link d-flex align-items-center">
<i class="icon-arrow icon-arrow_left"></i>
<span class="ml-12 d-none d-lg-block">Предыдущая</span>
</span>
</li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item active"><span class="page-link">2</span></li>
<li class="page-item disabled"><span class="page-link">...</span></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item page-item_next">
<a class="page-link" href="#">
<span class="mr-12 d-none d-lg-block">Следующая</span>
<i class="icon-arrow"></i>
</a>
</li>
</ul>
</nav>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-50"><span class="footer-title">Контактная информация</span>
                  <div class="d-flex flex-column pb-20"><span class="footer-sub-title">Адрес:</span><span class="footer-description footer-description_14 footer-description_w-50">129090, Москва, ул. Щепкина, д. 22</span></div>
                  <div class="d-flex flex-column pb-20"><span class="footer-sub-title">Телефон:</span><a class="footer-description footer-description_14 footer-description_w-50" href="tel:88004353465">8 800 435 34 65</a></div>
                  <div class="d-flex flex-column"><span class="footer-sub-title">E-mail:</span><a class="footer-description footer-description_14 footer-description_w-50" href="mailto:info@domnarodov.ru">info@domnarodov.ru</a></div>
                </div>
                <div class="social"><a class="social__link social__link_footer icon-facebook" href="#"></a><a class="social__link social__link_footer icon-instagram" href="#"></a><a class="social__link social__link_footer icon-vk social__link_18" href="#"></a></div>
              </div>
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-24"><span class="footer-title">О нас</span>
                  <ul class="footer-nav">
                    <li><a href="#">ФГБУ «Дом народов России»</a></li>
                    <li><a href="#">Учредитель</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Структура</a></li>
                    <li><a href="#">Цели и задачи</a></li>
                    <li><a href="#">Отчеты о результатах деятельности</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Новости партнеров</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">Галерея</span>
                  <ul class="footer-nav">
                    <li><a href="#">Фото</a></li>
                    <li><a href="#">Видео</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-3 pb-4 pb-lg-0">
                <div class="pb-24"><span class="footer-title">О национальной политике</span>
                  <ul class="footer-nav">
                    <li><a href="#">Нормативно-правовые документы</a></li>
                    <li><a href="#">Организации</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">События</span>
                  <ul class="footer-nav">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Анонсы</a></li>
                    <li><a href="#">Календарь мероприятий</a></li>
                    <li><a href="#">СМИ о нас</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="pb-24"><span class="footer-title">Документы</span>
                  <ul class="footer-nav">
                    <li><a href="#">Устав</a></li>
                    <li><a href="#">Государственное задание</a></li>
                    <li><a href="#">Приказы</a></li>
                    <li><a href="#">Положения</a></li>
                    <li><a href="#">Планы</a></li>
                    <li><a href="#">Нормативно-правовые акты</a></li>
                    <li><a href="#">Соглашения</a></li>
                    <li><a href="#">Противодействие коррупции</a></li>
                    <li><a href="#">Отчеты</a></li>
                  </ul>
                </div>
                <div><span class="footer-title">Контакты</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 d-flex align-items-center pb-4 pb-lg-0"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo-footer.svg" alt="logo"></a><span class="copyright">© 2020 ФГБУ «Дом народов России»</span></div>
              <div class="col-12 col-lg-6 d-flex flex-column align-items-center flex-lg-row justify-content-lg-end"><a class="footer-link mr-lg-4 mb-2 mb-lg-0" href="#">Политика конфиденциальности</a><a class="footer-link" href="#">Пользовательское соглашение</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
